#menu_bar{
    font-size: 120%;
    padding: 1em;
    padding-bottom: 0em;
    text-align: center;
    width: 96%;
}

#menu_bar ul {
    list-style: none;
    margin: 0;
    padding-top: 0;
}

#menu_bar li{
    display: inline;
    padding-left: 0.1em;
    padding-right: 0.1em;
}

#menu_bar a:link, #menu_bar a:visited {
    text-decoration: none;
}